#maincontainer
{
	display: flex;	
	
}
#whitepage
{
	width: calc(100% - 300px);
}
aside
{
	width: 300px;
	
	background-color: #ffc720;
}


#photoidentite /*xxx*/
{
	
	width: 150px;
	height: : 150px;
	margin: 75px;
	border-radius: 50%;
}
h1
{
	font-family: "yu gothic", "trebuchet ms", serif;
	font-size: 18;
	margin-left: 300px;
	word-spacing: 5px;
	
}	
h1 span
{
	color: #ffc720;
}	
#presentationjob /* =h2*/

{
	margin-left: 250px;
	display: flex;
	align-self: flex-end;
}
.activite
{
	width: 50px;
	height: 50px;
}

.infotitle
{
	background-color: grey;
	color: #ffc720;
	padding-left: 45px;
}
#renseignements
{
	padding-left: 10px;
}

#qqslignes
{
	padding-left: 10px;
}
